.hintComponent {
    width: 350px;
    height: 100%;
    &.small {
        height: 80px;
    }

    .list {
        height: 100%;
        overflow: hidden;
        padding: 3px 20px;
        position: relative;
    }

    .item {
        align-items: center;
        display: flex;
        margin-bottom: 10px;
        background-color: #eeeeee;
        border-radius: 5px;
        height: 70px;
        opacity: 0.8;

        &.selected {
            border: 3px solid #ff7c50;
            transform: scale(1.1);
            opacity: 1;
        }

        .arrow {
            margin: 10px 0 0 25px;
        }
        .text {
            flex: 1;
        }
    }
}
